amqp==2.3.2
atomicwrites==1.1.5
attrs==18.1.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.4.16
chardet==3.0.4
Django==1.11
django-cors-headers==2.4.0
django-tastypie==0.14.1
funcsigs==1.0.2
idna==2.7
kombu==4.2.1
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
psycopg2==2.7.5
py==1.5.4
pytest==3.7.1
pytest-django==3.3.3
python-dateutil==2.7.3
python-mimeparse==1.6.0
pytz==2018.5
redis==2.10.6
requests==2.19.1
scandir==1.8
six==1.11.0
urllib3==1.23
vine==1.1.4
