<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
</style>

<div>
	<a ui-sref="login" style="float: right; font-size: 19px;">Log out</a>
</div>

<div class="row">
<div class="col-md-8">
    <h3>Todo list</h3>
    <button ng-click="addtodo()">Add Task</button>
  <div>
  	<div>

  		<input type="text" ng-model="search_title" ng-change="searchTask()" name="" placeholder="Search Tasks" style="    float: right;">

  	</div>
  		<div class="card" ng-show="add">
  <div  class="container">
  	<input ng-model="title" type="text" name="" placeholder="Task title"><br><br>
  	<input ng-model="description"  type="text" name="" placeholder="description"><br><br>
  	<input ng-model="due_date"  type="date" name="" placeholder="Due date"><br><br>
  	<button ng-click="saveTask()">Save</button>
  </div>
</div>
  	<div  class="card" ng-repeat="task in task_data " style="" >
	  <div ng-hide="taskid==task.id" class="container">
	  	<button ng-click="delete(task)">Delete Task</button>
	  	<button ng-click="taskid=task.id">Edit Task</button>
	    <h4><b>{[{task.title}]}</b></h4> 
	    <p>{[{task.description}]}</p> 
	    <p>{[{task.due_date}]}</p>
	    <p>{[{task.status}]}</p>
	    <p>Alert before hours: {[{task.alert_hour}]}</p>
	    <div class="col-md-9">
	    	<button ng-click="addSubtask()">Add Subtask</button>
	    	<div class="card" ng-show="addsub" >
			  	<input ng-model="subdescription"  type="text" name="" placeholder="description"><br><br>
			  	<button ng-click="saveSubTask(task,subdescription)">Save Subtask</button>
	    	</div>
		    <div  class="card" ng-repeat="sub_task in task.sub_tasks " style="height: 7.5em;padding: 1em" >
		    	<div ng-hide="subtaskid==sub_task.id">
		    		<button style="float: right;" ng-click="subtaskid=sub_task.id">Edit</button>
		    		<button style="float: right;" ng-click="deleteSub(sub_task)">Delete</button>
		    	<p><b>{[{sub_task.description}]}</b></p> 
			    <p>{[{sub_task.status}]}</p>
			</div>
			<br>
			<div ng-show="subtaskid==sub_task.id">
				<input ng-model="sub_task.description"  type="text" name="" placeholder="description"><br><br>
				<input type="radio" value="completed" ng-model="sub_task.status" name="sub_status">Completed<br>
				<input type="radio" value="pendig" ng-model="sub_task.status" name="sub_status">Pending<br>
			  	<button ng-click="editSubTask(sub_task)">Save</button>
			</div>
		    </div>
		</div>
	  </div>
	  <div ng-show="taskid==task.id" class="container">
	  	<input ng-model="task.title" type="text" name="" placeholder="Task title"><br><br>
	  	<input ng-model="task.description"  type="text" name="" placeholder="description"><br><br>
	  	<input ng-model="task.due_date"  type="date" name=""><br><br>
	  	<input ng-model="task.alert_hour"  type="number" name="" placeholder="Enter hours to get alert"><br><br>
	  	<select ng-model="task.status">
	  		<option value="completed">Completed</option>
	  		<option value="pendig">Pending</option>
	  	</select>
	  	<button ng-click="editTask(task)">Save Task</button>
	  </div>
</div>


  </div>

</div>
<div class="col-md-4">
	<p>Alerts</p>
	<div  class="card" ng-repeat="task in task_alert_data " style="padding: 1em;" >
		<h4><b>{[{task.title}]}</b></h4> 
	    <p>{[{task.description}]}</p> 
	    <p>{[{task.due_date}]}</p>
	    <p>{[{task.status}]}</p>
	    <p>Alert before hours: {[{task.alert_hour}]}</p>
	</div>
</div>
</div>