 <div class="col-md-12">
      <h3>Signup Page</h3>

      <form ng-submit="formSignup()" class="form">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="username" required="" />
          </div>

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required="" />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" ng-model="first_name" placeholder="first name" required="" />
          </div>

          <div class="form-group">
            <input type="email" class="form-control" ng-model="email" placeholder="email" required="" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Sign Up</button>
            <span class="text-danger">{{ error }}</span>
          </div>

        </div>
      </form>
    </div>